services:
  - type: web
    name: patient-portal
    env: node
    buildCommand: npm install && npm run build && cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - fromGroup: patient-portal-secrets

envVarGroups:
  - name: patient-portal-secrets
    envVars:
      - key: MONGO_URI
        sync: false
      - key: REACT_APP_API_BASE_URL
        sync: false
